* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  width: 90%;
  margin: 0 auto;
}

#logo img {
  display: block;
  margin: 100px auto 10px;
}

#searchBar {
  background-color: #d8d8d8;
  text-align: center;
  margin-bottom: 2px;
  padding: 5px;
}

#searcher {
  width: 40%;
  padding: 2px;
  margin: 5px;
}

button {
  cursor: pointer;
  padding: 2px;
}

#otherSearches {
  display: grid;
  grid-template-columns: 40% auto 40%;
  grid-gap: 2px;
  text-align: center;
  height: 90px;
}

#first {
  background-color: aquamarine;
  position: relative;
}

#second {
  background-color: aqua;
  position: relative;
}

#third {
  background-color: lightseagreen;
  position: relative;
}

#center-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
    margin-top: 20px;
    text-align: center;
}
